@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Fira Code", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

@keyframes opacityH1 {
    from {
         opacity: 0;
    }
    to {
         opacity: 1;
    }
}

@keyframes transicaoSpan {
    0% {
        background-color: transparent;
        transform: translateX(-500px);
    }
    85% {
        transform: translateX(20px)
    }
    100% {

    }
}

h1 {
    color: #fff;
    animation: opacityH1 2s;
}
span {
    background-color:deeppink;
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;

    animation: transicaoSpan 2s;
}